.header {
    border: 1px solid black;
    width: 100%;
    display: flex;
}
.row{
    width: 100%;
}

.wrapper {
    margin: auto 0;
}
.inside {
    border: 1px solid black;
    border-top: none;
    width: 100%;
    display: flex;
}